<div class="form-container">
  <h2>Login</h2>
  
  <form #formData='ngForm' (ngSubmit)='onSubmit(formData)'>
    <input class="input-txt" ngModel type="email" name="email" #email="ngModel" required email>
    
    <div *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.invalid" class="alert alert-danger" role="alert">
          Not a email !
      </div>
      <div [hidden]="!email.errors?.required" class="alert alert-danger" role="alert">Please enter your email !</div>
     
    </div> 

    <input type="password" (ngModel)="password" #password placeholder="Password" name="password"  class="input-txt" required>
    <button type="submit" [disabled]="!formData.form.valid" class="s auth-btn">Log in</button>
  
  </form>
  <a routerLink="/signup" routerLinkActive="active" class="create-account-txt">No account? <strong>Create one here</strong></a>
</div>
